name: On Tag

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Show tag
        run: |
          echo "Triggered by tag: ${{ github.ref_name }}"